.btn {
  position: relative;
  background-color: #1c1c1c;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 36.5%;
  width: 36%;
  height: 11.5%;
  border-radius: 50px;
  border: 1px solid #1c1c1c;
  cursor: pointer;
}

.arrowIcon {
  width: 6.5%;
  margin-left: 13px;
}

.btn:hover {
  background-color: #4e4e4e;
}
